/* Index */
/* index grid */
.grid-index-nav-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 90%;
}
/* navbar */
.nav {
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-bottom: 3px solid #9FC0FF;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 5%;
}
/* menu */
.collapsible {
  width: 100%;
  text-align: left;
  border: 1px solid white;
  outline: none;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel li {
  margin: 10px 0 10px 35px;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
a.menu-item {
  color: inherit;
  text-decoration: none;
}
a.menu-item:hover {
  color: #9FC0FF;
  transition: 0.1s;
}
/* logo */
.logo {
  display: block;
  padding-top: 5%;
  margin-left: auto;
  margin-right: auto;
}


/* Buildings */
/* build grid */
.grid-build-nav-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 90%;
}
.grid-body-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 1px;
  margin: 5% 0 5% 21%;
}
.build-grid-item {
  display: block;
  text-align: center;
  line-height: 200px;
  height: 200px;
  width: 200px;
}
.build-img {
  height: 200px;
  width: 200px;
}
/* nav logo */
.home_logo {
  height: 42px;
  width: auto;
}
/* build title */
.build-nav-title {
  font-size: 32px;
  text-align: right;
  color: #C00000;
  margin-left: -73px;
}


/* Build Details */
/* details grid */
.bdetails-grid-item1 {
  grid-area: left;
  width: 450px
}
.bdetails-grid-item2 {
  grid-area: right;
  padding: 85px;
  margin-left: -10%;
}
.bdetails-grid-container {
  margin-left: 5%;
  display: grid;
  grid-template-areas: 'left right';
  grid-column-gap: 0;
}
/* container */
.bdetails-container {
  margin-top: -37px;
}
/* paragraph */
p.name, p.opt {
  color: #8D8D8D;
  font-size: 32px;
}
p.opt {
  margin-left: 15%;
}


/* Build Options */
/* container */
.boptions-container {
  margin-top: -55px;
}
/* options grid */
.boptions-grid-item1 {
  grid-area: top-left;
  margin: auto;
  margin-left: 5%;
}
.boptions-grid-item2 {
  grid-area: top-right;
  margin-right: 5%;
  text-align: right;
  margin-bottom: 10%;
}
.boptions-grid-item3 {
  grid-area: left;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
.boptions-grid-item4 {
  grid-area: middle;
  text-align: center;
  margin-bottom: 10%;
}
.boptions-grid-item5 {
  grid-area: right;
  text-align: center;
  margin-bottom: 10%;
  margin-left: 15%;
  margin-right: 15%;
}
.boptions-grid-container {
  display: grid;
  grid-template-areas:
    'top-left top-left top-right'
    'left middle right';
  grid-column-gap: 0;
}
div.dlist-title {
  font-size: 30px;
  text-align: right;
  margin-top: 10px;
}
a.dlist-title {
  color: #C00000;
  text-decoration: none;
}
.dlist-icon {
  margin-top: -25px;
  margin-right: 10%;
}
div.name {
  color: #8D8D8D;
  font-size: 30px;
  width: 350px;
}
div.btn {
  border: 1px solid #9FC0FF;
  padding: 0px;
  height: auto;
  width: 255px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
}
div.btn:hover {
  background-color: #9FC0FF;
  color: black;
}
div.btn.active {
  background-color: #9FC0FF;
  color: black;
  cursor: default !important;
}
div.btn-cont {
  margin: 25.5px;
}
.boption-item1 {
  font-size: 35px;
  color: #C00000;
}
.boption-item1a {
  margin-top: -45px;
  font-size: 30px;
}
.boption-item1b {
  color: #8D8D8D;
  margin-top: -33px;
  font-size: 30px;
}
.boption-item2 {
  font-size: 24px;
  color: #8D8D8D;
}
.boption-item2a {
  font-size: 24px;
  margin-top: -25px;
}
.boption-item3 {
  font-size: 24px;
  color: #8D8D8D;
}
.boption-item3a {
  font-size: 24px;
  margin-top: -25px;
}
.boption-item-img {
  display: block;
  margin: 10% auto auto auto;
  height: 200px;
  width: 200px;
}

/* Design List */
/* dlist nav title */
.dlist-nav-title {
  width: 187px;
  font-size: 32px;
  text-align: right;
  color: #C00000;
  margin-left: -109px;
}
/* container */
.dlist-container {
  margin-top: -37px;
}
/* options grid */
.dlist-grid-item1 {
  grid-area: top-left;
  margin: auto;
  margin-left: 5%;
}
.dlist-grid-item2 {
  grid-area: top-right;
  text-align: right;
  margin: auto;
  height: 90px;
  width: 90px;
}
.dlist-grid-item3 {
  grid-area: item1;
  text-align: center;
  margin-bottom: 10%;
}
.dlist-grid-item4 {
  grid-area: item2;
  text-align: center;
  margin-bottom: 10%;
}
.dlist-grid-item5 {
  grid-area: item3;
  text-align: center;
  margin-bottom: 10%;
}
.dlist-grid-item6 {
  grid-area: item4;
  text-align: center;
  margin-bottom: 10%;
}
.dlist-grid-item7 {
  grid-area: item5;
  text-align: center;
  margin-bottom: 10%;
}
.dlist-grid-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
    'top-left top-left top-left top-left top-right'
    'item1 item2 item3 item4 item5';
  grid-column-gap: 0;
}
.dlist-item-img {
  display: block;
  margin: 10% auto auto auto;
  height: 200px;
  width: 200px;
}
.icon-item {
  color: #AAA79D;
}
.icon-grid-item1 {
  grid-area: left;
}
.icon-grid-item2 {
  grid-area: right;
}
.icons-grid {
  display: grid;
  grid-template-areas: 'left right';
  grid-column-gap: 5px;
}
